
<div class="w-full flex justify-between items-center px-6 py-8 bg-white rounded-lg shadow-md shadow-gray-200 ">
    <div class="flex items-center -mx-2">
        <svg class="mx-2" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="35" cy="35" r="35" fill="#713BDB" fill-opacity="0.05" />
            <path d="M26 44C26 40.625 30.5 40.625 32.75 38.375C33.875 37.25 30.5 37.25 30.5 31.625C30.5 27.8754 31.9996 26 35 26C38.0004 26 39.5 27.8754 39.5 31.625C39.5 37.25 36.125 37.25 37.25 38.375C39.5 40.625 44 40.625 44 44" stroke="#6F52ED" stroke-width="2" stroke-linecap="square" />
        </svg>

        <div class="mx-2">
            <h3 class="text-2xl font-medium text-gray-800"><%= @restaurant.no_shows.count %></h3>
            <p class="hidden md:block mt-1 text-sm text-gray-500">NoShows</p>
        </div>
    </div>

</div>

<div class="w-full flex items-center px-6 py-8 bg-white rounded-lg shadow-md shadow-gray-200 ">
    <div class="flex items-center -mx-2">
        <svg class="mx-2" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="35" cy="35" r="35" fill="#33D69F" fill-opacity="0.07" />
            <path d="M26 39L31 34" stroke="#21B8C7" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            <path
                d="M32 34C32.5523 34 33 33.5523 33 33C33 32.4477 32.5523 32 32 32C31.4477 32 31 32.4477 31 33C31 33.5523 31.4477 34 32 34Z"
                stroke="#21B8C7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path
                d="M37 39C37.5523 39 38 38.5523 38 38C38 37.4477 37.5523 37 37 37C36.4477 37 36 37.4477 36 38C36 38.5523 36.4477 39 37 39Z"
                stroke="#21B8C7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M38 37L44 31M33 34L36 37L33 34Z" stroke="#21B8C7" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" />
        </svg>

        <div class="mx-2">
            <h3 class="text-2xl font-medium text-gray-800"><%= @no_shows_this_month.count %></h3>
            <p class="hidden md:block mt-1 text-sm text-gray-500">NoShows ajouter ce mois</p>
            <% if @delta.positive? %>
                <span class="mt-1 inline-flex items-center px-2 py-1 text-sm mr-auto font-semibold text-center align-baseline rounded-lg text-black bg-green-400 bg-opacity-50 border border-green-600">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18L9 11.25l4.306 4.307a11.95 11.95 0 015.814-5.519l2.74-1.22m0 0l-5.94-2.28m5.94 2.28l-2.28 5.941"></path>
                    </svg>
                    <%= @delta %>%
                </span>
            <% else %>
                <span class="mt-1 inline-flex items-center px-2 py-1 text-sm mr-auto font-semibold text-center align-baseline rounded-lg text-black bg-red-400 bg-opacity-50 border border-green-600">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6L9 12.75l4.286-4.286a11.948 11.948 0 014.306 6.43l.776 2.898m0 0l3.182-5.511m-3.182 5.51l-5.511-3.181"></path>
                    </svg>
                    <%= @delta %>%
                </span>
            <% end %>
        </div>
    </div>
</div>



<div class="w-full flex items-center px-6 py-8 bg-white rounded-lg shadow-md shadow-gray-200 ">
  <div class="flex items-center -mx-2">
      <svg class="mx-2" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="35" cy="35" r="35" fill="#FF4C61" fill-opacity="0.05" />
          <path d="M26 32L32 38L36 34L43.405 41.405" stroke="#FF4C61" stroke-width="2"
              stroke-linecap="square" />
          <path d="M43.405 41.405L44 42" stroke="#FF4C61" stroke-width="2" stroke-linecap="round" />
          <path d="M44 39V42H41" stroke="#FF4C61" stroke-width="2" stroke-linecap="square" />
      </svg>

      <div class="mx-2">
          <h3 class="text-2xl font-medium text-gray-800"><%= @no_shows_last_month.count %></h3>
          <p class="hidden md:block mt-1 text-sm text-gray-500">NoShows ajouter le mois dernier</p>
      </div>
  </div>
</div>

<div class="w-full flex items-center px-6 py-8 bg-white rounded-lg shadow-md shadow-gray-200 ">
  <div class="flex items-center -mx-2">
      <svg class="mx-2" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="35" cy="35" r="35" fill="#4CB8FF" fill-opacity="0.07" />
          <path
              d="M42 26V44H31C30.2044 44 29.4413 43.6839 28.8787 43.1213C28.3161 42.5587 28 41.7956 28 41V29C28 28.2044 28.3161 27.4413 28.8787 26.8787C29.4413 26.3161 30.2044 26 31 26H42Z"
              stroke="#4CB8FF" stroke-width="2" stroke-linecap="square" />
          <path d="M28 41C28 40.2044 28.3161 39.4413 28.8787 38.8787C29.4413 38.3161 30.2044 38 31 38H42"
              stroke="#4CB8FF" stroke-width="2" stroke-linecap="square" />
      </svg>

      <div class="mx-2">
          <h3 class="text-2xl font-medium text-gray-800"><%= @fiability %>%</h3>
          <p class="hidden md:block mt-1 text-sm text-gray-500">Fiabilité des NoShows</p>
      </div>
  </div>
</div>