  <header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">TableWise</span>
          <%= image_tag "logo.png", class: "h-12 w-auto" %>
        </a>
      </div>
      <div class="flex lg:hidden" data-controller="home">
        <button type="button" data-action="click->home#open" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
        <%= render "shared/home_menu" %>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Product</a>
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Features</a>
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Marketplace</a>
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Company</a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <div class= "flex">
          <% if user_signed_in? %>
          <div data-controller = "dropdown" class="relative ml-3">
            <button data-action="click->dropdown#toggle"  type="button" class="relative flex max-w-xs items-center rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-1 focus:ring-white focus:ring-offset-2 focus:ring-offset-secondary" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Open user menu</span>
              <%= image_tag "ceo.jpg", class: "h-8 w-8 rounded-full", alt: "text" %>
            </button>
              <%= render "restaurants/dashboard/header/dropdown_menu" %>
          </div>
            <% else %>
            <div class="hover:opacity-75">
              <%= link_to "Se connecter", new_user_session_path, class: "text-sm font-semibold leading-6 text-black mr-1" %>
              <span aria-hidden="true">&rarr;</span>
            </div>
            <% end %>
        </div>
      </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
  </header>