<section class="container w-full">
  <div class="flex flex-col">
    <div class="mb-6 flex justify-between">

      <div class= "flex space-x-4 items-center">
        <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 text-yellow-500 bg-yellow-100/60 ">
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 3L3 9M3 3L9 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <h2 class="text-sm font-normal">NoShow < 3 </h2>
        </div>

        <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 text-orange-500 bg-orange-100/60 ">
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 3L3 9M3 3L9 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <h2 class="text-sm font-normal">NoShow < 6</h2>
        </div>

        <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 text-red-500 bg-red-100/60 ">
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 3L3 9M3 3L9 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <h2 class="text-sm font-normal">NoShow</h2>
        </div>

      </div>


      <div>
        <%= form_with url: dashboard_restaurant_path, method: :get, class: "flex max-w-sm gap-x-4" do %>
          <div class="relative flex items-center md:w-96">
              
              <%= text_field_tag :query,
                params[:query],
                class: "input text-sm",
                placeholder: "Enter Email, Téléphone, Nom"
              %>
                <%= button_tag(type: 'submit', name: "") do %>
                  <span class="absolute grid w-5 h-5 top-2/4 right-3 -translate-y-2/4 place-items-center text-blue-gray-500">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" aria-hidden="true" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                          d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
                      </svg>
                  </span>
                <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden border border-gray-200 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200 ">
            <%= render "table_header" %>
            <% if @customers %>

              <tbody class="bg-white divide-y divide-gray-200">
                <% @customers.each do |customer| %>
                <% no_shows_by_restaurant = find_noshows_by_restaurant(customer) %>
                  <tr>
                    <td class="px-4 py-4 text-sm font-medium text-gray-700  whitespace-nowrap">
                      <div class="inline-flex items-center gap-x-3">
                        <input type="checkbox" class="text-primary border-gray-300 rounded">
                        <span>#<%= @count - 1 %></span>
                        <% @count -= 1 %>
                      </div>
                    </td>
                    <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                      <%= render "badge", customer: customer %>
                      </div>
                    </td>
                    <td class="px-4 py-4 text-sm text-gray-500 whitespace-nowrap">
                      <div>
                        <h2 class="text-sm font-medium text-gray-800 "><%= customer.name %></h2>
                        <p class="text-xs font-normal text-gray-600 "><%= customer.email %></p>
                      </div>
                      </div>
                    </td>
                    <td class="px-4 py-4 text-sm text-gray-500  whitespace-nowrap"><%= customer.phone %></td>
                    <td class="px-4 py-4 text-sm whitespace-nowrap">
                      <div class="flex items-center gap-x-6">
                        <div data-controller="my-modal">
                          <button class="text-gray-500 transition-colors duration-200 hover:text-primary focus:outline-none" 
                             data-action="click->my-modal#openModal">
                            hisorique
                          </button>

                          <div data-my-modal-target="modalHistory" class="relative flex justify-center hidden">
                              <div  class="fixed inset-0 z-10 overflow-y-auto" 
                                aria-labelledby="modal-title" role="dialog" aria-modal="true"
                              >
                                <div class="flex items-end justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0">
                                  <span class="hidden sm:inline-block sm:h-screen sm:align-middle" aria-hidden="true">&#8203;</span>

                                  <div class="relative inline-block px-4 pt-5 pb-4 max-h-2xl overflow-auto text-left align-bottom transition-all transform bg-white rounded-lg shadow-xl sm:my-8 sm:w-full sm:max-w-lg sm:p-6 sm:align-middle">
                                    <div class="flex justify-between mb-6">
                                      <h3 class="text-xl font-semibold text-gray-900">
                                        Hisorique
                                      </h3>
                                      <button type="button" data-action="click->my-modal#closeModal" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
                                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                        </svg>
                                        <span class="sr-only">Close modal</span>
                                      </button>
                                    </div>

                                      <div class="mb-4 border-b flex justify-around">
                                        <div class="flex items-center -mx-2 mb-4">
                                            <svg class="mx-2" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="35" cy="35" r="35" fill="#713BDB" fill-opacity="0.05" />
                                                <path d="M26 44C26 40.625 30.5 40.625 32.75 38.375C33.875 37.25 30.5 37.25 30.5 31.625C30.5 27.8754 31.9996 26 35 26C38.0004 26 39.5 27.8754 39.5 31.625C39.5 37.25 36.125 37.25 37.25 38.375C39.5 40.625 44 40.625 44 44" stroke="#6F52ED" stroke-width="2" stroke-linecap="square" />
                                            </svg>

                                            <div class="mx-2">
                                                <h3 class="text-2xl font-medium text-gray-800"><%= customer.name %></h3>
                                                <p class="mt-1 text-sm text-gray-500"><%= customer.email %></p>
                                                <p class="mt-1 text-sm text-gray-500"><%= customer.phone %></p>
                                            </div>
                                        </div>
                                        <div class="flex items-center -mx-2 mb-4">
                                            <svg class="mx-2" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="35" cy="35" r="35" fill="#713BDB" fill-opacity="0.05" />
                                                <path d="M26 44C26 40.625 30.5 40.625 32.75 38.375C33.875 37.25 30.5 37.25 30.5 31.625C30.5 27.8754 31.9996 26 35 26C38.0004 26 39.5 27.8754 39.5 31.625C39.5 37.25 36.125 37.25 37.25 38.375C39.5 40.625 44 40.625 44 44" stroke="#6F52ED" stroke-width="2" stroke-linecap="square" />
                                            </svg>

                                            <div class="mx-2">
                                                <h3 class="text-2xl font-medium text-gray-800"><%= no_shows_by_restaurant.count %></h3>
                                                <p class="mt-1 text-sm text-gray-500">NoShows</p>
                                            </div>
                                        </div>

                                      </div>
                                    <ol class="relative border-s border-gray-200 h-full">
                                      <li class="mb-10 ms-6">            
                                            <span class="absolute flex items-center justify-center w-6 h-6 bg-yellow-100 rounded-full -start-3 ring-8 ring-white">
                                                <svg class="w-2.5 h-2.5 text-primary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                                </svg>
                                            </span>
                                            <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900"><%= no_shows_by_restaurant.first.date_service.strftime('%m/%d/%Y') %><span class="text-primary bg-yellow-100/60 text-sm font-medium me-2 px-2.5 py-0.5 rounded ms-3">Le plus récent</span></h3>
                                            <p class="block mb-2 text-sm font-normal leading-none text-gray-400">Enregistrée le : <%= no_shows_by_restaurant.first.created_at.strftime('%m/%d/%Y') %></p>
                                        </li>
                                        <% no_shows_by_restaurant.shift %>
                                      <% no_shows_by_restaurant.each do |element| %>
                                        <li class="mb-10 ms-6">            
                                          <span class="absolute flex items-center justify-center w-6 h-6 bg-yellow-100 rounded-full -start-3 ring-8 ring-white">
                                              <svg class="w-2.5 h-2.5 text-primary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                                  <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                              </svg>
                                          </span>
                                          <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900"><%= element.date_service.strftime('%m/%d/%Y') %></h3>
                                          <p class="block mb-2 text-sm font-normal leading-none text-gray-400">Enregistrée le : <%= element.created_at.strftime('%m/%d/%Y') %></p>
                                        </li>
                                      <% end %>   
                                    </ol>


                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <button class="text-gray-500 transition-colors duration-200 hover:text-primary focus:outline-none">
                          Edit
                        </button>
                        <button class="text-red-500 transition-colors duration-200 hover:text-red-600 focus:outline-none">
                          Supprimer
                        </button>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>

            <% else %>

              <tbody class="bg-white divide-y divide-gray-200">
                <% @no_shows.reverse.each do |no_show| %>
                  <tr>
                    <td class="px-4 py-4 text-sm font-medium text-gray-700  whitespace-nowrap">
                      <div class="inline-flex items-center gap-x-3">
                        <input type="checkbox" class="text-primary border-gray-300 rounded">
                        <span>#<%= @count - 1 %></span>
                        <% @count -= 1 %>
                      </div>
                    </td>
                    <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                      <% customer = find_customer(no_show.customer_id) %>
                      <% no_shows_by_restaurant = find_noshows_by_restaurant(customer) %>
                      <%= render "badge", customer: customer %>
                    </td>
                    <td class="px-4 py-4 text-sm text-gray-500 whitespace-nowrap">
                      <div>
                        <h2 class="text-sm font-medium text-gray-800 "><%= no_show.customer.name %></h2>
                        <p class="text-xs font-normal text-gray-600 "><%= no_show.customer.email %></p>
                      </div>
                      </div>
                    </td>
                    <td class="px-4 py-4 text-sm text-gray-500  whitespace-nowrap"><%= no_show.customer.phone %></td>
                    <td class="px-4 py-4 text-sm whitespace-nowrap">
                      <div class="flex items-center gap-x-6">
                        <div data-controller="my-modal">
                          <button class="text-gray-500 transition-colors duration-200 hover:text-primary focus:outline-none" 
                             data-action="click->my-modal#openModal">
                            hisorique
                          </button>

                          <div data-my-modal-target="modalHistory" class="relative flex justify-center hidden">
                              <div  class="fixed inset-0 z-10 overflow-y-auto" 
                                aria-labelledby="modal-title" role="dialog" aria-modal="true"
                              >
                                <div class="flex items-end justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0">
                                  <span class="hidden sm:inline-block sm:h-screen sm:align-middle" aria-hidden="true">&#8203;</span>

                                  <div class="relative inline-block px-4 pt-5 pb-4 max-h-2xl overflow-auto text-left align-bottom transition-all transform bg-white rounded-lg shadow-xl sm:my-8 sm:w-full sm:max-w-lg sm:p-6 sm:align-middle">
                                    <div class="flex justify-between mb-6">
                                      <h3 class="text-xl font-semibold text-gray-900">
                                        Hisorique
                                      </h3>
                                      <button type="button" data-action="click->my-modal#closeModal" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
                                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                        </svg>
                                        <span class="sr-only">Close modal</span>
                                      </button>
                                    </div>

                                      <div class="mb-4 border-b flex justify-around">
                                        <div class="flex items-center -mx-2 mb-4">
                                            <svg class="mx-2" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="35" cy="35" r="35" fill="#713BDB" fill-opacity="0.05" />
                                                <path d="M26 44C26 40.625 30.5 40.625 32.75 38.375C33.875 37.25 30.5 37.25 30.5 31.625C30.5 27.8754 31.9996 26 35 26C38.0004 26 39.5 27.8754 39.5 31.625C39.5 37.25 36.125 37.25 37.25 38.375C39.5 40.625 44 40.625 44 44" stroke="#6F52ED" stroke-width="2" stroke-linecap="square" />
                                            </svg>

                                            <div class="mx-2">
                                                <h3 class="text-2xl font-medium text-gray-800"><%= customer.name %></h3>
                                                <p class="mt-1 text-sm text-gray-500"><%= customer.email %></p>
                                                <p class="mt-1 text-sm text-gray-500"><%= customer.phone %></p>
                                            </div>
                                        </div>
                                        <div class="flex items-center -mx-2 mb-4">
                                            <svg class="mx-2" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="35" cy="35" r="35" fill="#713BDB" fill-opacity="0.05" />
                                                <path d="M26 44C26 40.625 30.5 40.625 32.75 38.375C33.875 37.25 30.5 37.25 30.5 31.625C30.5 27.8754 31.9996 26 35 26C38.0004 26 39.5 27.8754 39.5 31.625C39.5 37.25 36.125 37.25 37.25 38.375C39.5 40.625 44 40.625 44 44" stroke="#6F52ED" stroke-width="2" stroke-linecap="square" />
                                            </svg>

                                            <div class="mx-2">
                                                <h3 class="text-2xl font-medium text-gray-800"><%= no_shows_by_restaurant.count %></h3>
                                                <p class="mt-1 text-sm text-gray-500">NoShows</p>
                                            </div>
                                        </div>

                                      </div>
                                    <ol class="relative border-s border-gray-200 h-full">
                                      <li class="mb-10 ms-6">            
                                            <span class="absolute flex items-center justify-center w-6 h-6 bg-yellow-100 rounded-full -start-3 ring-8 ring-white">
                                                <svg class="w-2.5 h-2.5 text-primary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                                </svg>
                                            </span>
                                            <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900"><%= no_shows_by_restaurant.first.date_service.strftime('%m/%d/%Y') %><span class="text-primary bg-yellow-100/60 text-sm font-medium me-2 px-2.5 py-0.5 rounded ms-3">Le plus récent</span></h3>
                                            <p class="block mb-2 text-sm font-normal leading-none text-gray-400">Enregistrée le : <%= no_shows_by_restaurant.first.created_at.strftime('%m/%d/%Y') %></p>
                                        </li>
                                        <% no_shows_by_restaurant.shift %>
                                      <% no_shows_by_restaurant.each do |element| %>
                                        <li class="mb-10 ms-6">            
                                          <span class="absolute flex items-center justify-center w-6 h-6 bg-yellow-100 rounded-full -start-3 ring-8 ring-white">
                                              <svg class="w-2.5 h-2.5 text-primary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                                  <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                              </svg>
                                          </span>
                                          <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900"><%= element.date_service.strftime('%m/%d/%Y') %></h3>
                                          <p class="block mb-2 text-sm font-normal leading-none text-gray-400">Enregistrée le : <%= element.created_at.strftime('%m/%d/%Y') %></p>
                                        </li>
                                      <% end %>   
                                    </ol>


                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>


                        <button class="text-gray-500 transition-colors duration-200 hover:text-primary focus:outline-none">
                          Edit
                        </button>
                        <button class="text-red-500 transition-colors duration-200 hover:text-red-600 focus:outline-none">
                          Supprimer
                        </button>
                      </div>
                    </td>
                  </tr>
                  
                <% end %>
              </tbody>
            <% end %>

          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-between mt-6">
    <a href="#" class="flex items-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
      </svg>
      <span>
        previous
      </span>
    </a>

    <div class="items-center hidden md:flex gap-x-3">
      <a href="#" class="px-2 py-1 text-sm text-blue-500 rounded-md bg-blue-100/60">1</a>
      <a href="#" class="px-2 py-1 text-sm text-gray-500 rounded-md hover:bg-gray-100">2</a>
      <a href="#" class="px-2 py-1 text-sm text-gray-500 rounded-md hover:bg-gray-100">3</a>
      <a href="#" class="px-2 py-1 text-sm text-gray-500 rounded-md hover:bg-gray-100">...</a>
      <a href="#" class="px-2 py-1 text-sm text-gray-500 rounded-md hover:bg-gray-100">12</a>
      <a href="#" class="px-2 py-1 text-sm text-gray-500 rounded-md hover:bg-gray-100">13</a>
      <a href="#" class="px-2 py-1 text-sm text-gray-500 rounded-md hover:bg-gray-100">14</a>
    </div>
    <a href="#" class="flex items-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100 :bg-gray-900">
      <span>
        Next
      </span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
      </svg>
    </a>
  </div>
</section>
