<div data-controller="modal", style="min-height: 100vh">
  <%= render "modal_noshow" %>

  <div class="min-h-full bg-gray-100" data-modal-target="blur">
    <%= render "header" %>
    <div>
      <header class="bg-white shadow">
        <div class="max-w-full px-4 py-6 sm:px-6 lg:px-8 flex justify-between">
          <h1 class="text-3xl font-bold tracking-tight text-gray-900">Tableau de bord</h1>
          <a href="" data-action="click->modal#openModalNoShow" class="btn bg-primary">+ Ajouter un NoShow</a>
        </div>
      </header>
    </div>
    <main>
      <div class="mx-0 max-w-full py-6 sm:px-6 lg:px-8 h-screen">

        <section class="grid grid-cols-1 gap-8 px-6 xl:grid-cols-3 2xl:grid-cols-4 md:grid-cols-2 ">

          <%= render "chart" %>

          <div class="flex flex-col justify-center md:row-span-3 gap-y-4 gap-x-8" style="grid-column: span 3">
            <%= render "table" %>
          </div>

          <%= render "donut" %>
        
        </section>

      </div>
    </main>
  </div>
</div>