<%= render "dashboard" %>
<div class="container py-24 mx-auto">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone %></p>
  <p><%= @restaurant.email %></p>
</div>