<!-- Table body with background and dividing lines -->
<tbody class="bg-white divide-y divide-gray-200">
  <!-- Check if there are any customers in the list -->
  <% if @customers.count > 0 %>
    <!-- Iterate through each customer in the list -->
    <% @customers.each do |customer| %>
      <!-- Find the customer's no-shows for the specific restaurant -->
      <% no_shows_by_restaurant = find_noshows_by_restaurant(customer) %>
      <!-- Table row for each customer -->
      <tr>
        <!-- Checkbox column -->
        <td class="px-4 py-4 text-sm font-medium text-gray-700  whitespace-nowrap">
          <!-- Inline-flex container with checkbox and customer count -->
          <div class="inline-flex items-center gap-x-3">
            <!-- Checkbox for customer selection -->
            <input type="checkbox" class="text-primary border-gray-300 rounded">
            <!-- Display the customer count -->
            <span>#<%= @count - 1 %></span>
            <!-- Decrement the count -->
            <% @count -= 1 %>
          </div>
        </td>
        <!-- Badge column with customer information -->
        <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
          <!-- Render badge for the customer -->
          <%= render "restaurants/dashboard/table/badge", customer: customer %>
          </div>
        </td>
        <!-- Customer information columns -->
        <td class="px-4 py-4 text-sm text-gray-500 whitespace-nowrap">
          <!-- Customer name and email -->
          <div>
            <h2 class="text-sm font-medium text-gray-800 "><%= customer.name %></h2>
            <p class="text-xs font-normal text-gray-600 "><%= customer.email %></p>
          </div>
          </div>
        </td>
        <!-- Customer phone number column -->
        <td class="px-4 py-4 text-sm text-gray-500  whitespace-nowrap"><%= customer.phone %></td>
        <!-- Action column with hidden and visible options -->
        <td class="px-4 py-4 text-sm whitespace-nowrap">
          <!-- Hidden actions for small screens -->
          <div class="hidden md:flex items-center gap-x-6">
            <!-- Modal for customer history -->
            <div data-controller="my-modal">
              <!-- Button to open customer history modal -->
              <button class="text-gray-500 transition-colors duration-200 hover:text-primary focus:outline-none" 
                data-action="click->my-modal#openModal">
                Historique
              </button>
              <!-- Customer history modal -->
              <div data-my-modal-target="modalHistory" class="relative flex justify-center hidden">
                <!-- Modal content -->
                <div  class="fixed inset-0 z-10 overflow-y-auto" 
                  aria-labelledby="modal-title" role="dialog" aria-modal="true"
                >
                  <!-- Backdrop and content container -->
                  <div class="backdrop-blur-sm backdrop-brightness-50 flex items-end justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0">
                    <!-- Hidden span for accessibility -->
                    <span class="hidden sm:inline-block sm:h-screen sm:align-middle" aria-hidden="true">&#8203;</span>
                    <!-- Inline block with modal content -->
                    <div class="relative inline-block px-4 pt-5 pb-4 max-h-2xl overflow-auto text-left align-bottom transition-all transform bg-white rounded-lg shadow-xl sm:my-8 sm:w-full sm:max-w-lg sm:p-6 sm:align-middle">
                      <!-- Modal header with title and close button -->
                      <div class="flex justify-between mb-6">
                        <h3 class="text-xl font-semibold text-gray-900">
                          Historique
                        </h3>
                        <button type="button" data-action="click->my-modal#closeModal" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
                          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                          </svg>
                          <span class="sr-only">Close modal</span>
                        </button>
                      </div>
                      <!-- Modal content with customer information and no-show history -->
                      <div class="mb-4 border-b flex justify-around">
                        <!-- Customer information section -->
                        <div class="flex items-center -mx-2 mb-4">
                          <!-- Circle and customer details -->
                          <svg class="mx-2" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <!-- Circle with fill and stroke -->
                            <circle cx="35" cy="35" r="35" fill="#713BDB" fill-opacity="0.05" />
                            <!-- Path for checkmark inside the circle -->
                            <path d="M26 44C26 40.625 30.5 40.625 32.75 38.375C33.875 37.25 30.5 37.25 30.5 31.625C30.5 27.8754 31.9996 26 35 26C38.0004 26 39.5 27.8754 39.5 31.625C39.5 37.25 36.125 37.25 37.25 38.375C39.5 40.625 44 40.625 44 44" stroke="#6F52ED" stroke-width="2" stroke-linecap="square" />
                          </svg>
                          <!-- Customer details in a div -->
                          <div class="mx-2">
                            <!-- Customer name -->
                            <h3 class="text-2xl font-medium text-gray-800"><%= customer.name %></h3>
                            <!-- Customer email -->
                            <p class="mt-1 text-sm text-gray-500"><%= customer.email %></p>
                            <!-- Customer phone number -->
                            <p class="mt-1 text-sm text-gray-500"><%= customer.phone %></p>
                          </div>
                        </div>
                        <!-- No-show information section -->
                        <div class="flex items-center -mx-2 mb-4">
                          <!-- Circle and no-show count details -->
                          <svg class="mx-2" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <!-- Circle with fill and stroke -->
                            <circle cx="35" cy="35" r="35" fill="#713BDB" fill-opacity="0.05" />
                            <!-- Path for checkmark inside the circle -->
                            <path d="M26 44C26 40.625 30.5 40.625 32.75 38.375C33.875 37.25 30.5 37.25 30.5 31.625C30.5 27.8754 31.9996 26 35 26C38.0004 26 39.5 27.8754 39.5 31.625C39.5 37.25 36.125 37.25 37.25 38.375C39.5 40.625 44 40.625 44 44" stroke="#6F52ED" stroke-width="2" stroke-linecap="square" />
                          </svg>
                          <!-- No-show count details in a div -->
                          <div class="mx-2">
                            <!-- No-show count -->
                            <h3 class="text-2xl font-medium text-gray-800"><%= no_shows_by_restaurant.count %></h3>
                            <!-- Label for no-shows -->
                            <p class="mt-1 text-sm text-gray-500">NoShows</p>
                          </div>
                        </div>
                      </div>
                      <!-- Ordered list for displaying no-show history -->
                      <ol class="relative border-s border-gray-200 h-full">
                        <!-- First list item for the most recent no-show -->
                        <li class="mb-10 ms-6">            
                          <!-- Circle with yellow background for recent status -->
                          <span class="absolute flex items-center justify-center w-6 h-6 bg-yellow-100 rounded-full -start-3 ring-8 ring-white">
                            <!-- Checkmark icon with primary color -->
                            <svg class="w-2.5 h-2.5 text-primary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                              <!-- Path for checkmark -->
                              <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                            </svg>
                          </span>
                          <!-- Date and recent status details -->
                          <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900"><%= no_shows_by_restaurant.first.date_service.strftime('%m/%d/%Y') %><span class="text-primary bg-yellow-100/60 text-sm font-medium me-2 px-2.5 py-0.5 rounded ms-3">Le plus récent</span></h3>
                          <!-- Block for recorded date of the no-show -->
                          <p class="block mb-2 text-sm font-normal leading-none text-gray-400">Enregistrée le : <%= no_shows_by_restaurant.first.created_at.strftime('%m/%d/%Y') %></p>
                        </li>
                        <!-- Shift the first element from the array -->
                        <% no_shows_by_restaurant.shift %>
                        <!-- Iterate through remaining no-shows -->
                        <% no_shows_by_restaurant.each do |element| %>
                          <!-- List item for each no-show -->
                          <li class="mb-10 ms-6">            
                            <!-- Circle with yellow background for status -->
                            <span class="absolute flex items-center justify-center w-6 h-6 bg-yellow-100 rounded-full -start-3 ring-8 ring-white">
                              <!-- Checkmark icon with primary color -->
                              <svg class="w-2.5 h-2.5 text-primary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <!-- Path for checkmark -->
                                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                              </svg>
                            </span>
                            <!-- Date details for each no-show -->
                            <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900"><%= element.date_service.strftime('%m/%d/%Y') %></h3>
                            <!-- Block for recorded date of the no-show -->
                            <p class="block mb-2 text-sm font-normal leading-none text-gray-400">Enregistrée le : <%= element.created_at.strftime('%m/%d/%Y') %></p>
                          </li>
                        <% end %>   
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Edit and delete buttons for customer actions -->
            <button class="text-gray-500 transition-colors duration-200 hover:text-primary focus:outline-none select-none">
              Edit
            </button>
            <button class="text-red-500 transition-colors duration-200 hover:text-red-600 focus:outline-non select-none">
              Supprimer
            </button>
          </div>
        </td>
      </tr>
    <% end %>
  <!-- If no customers are present, display a message -->
  <% else %>
    <!-- Table row with a colspan for a centered message -->
    <tbody class="bg-white divide-y divide-gray-200">
      <tr>
        <!-- Single cell with colspan for centering -->
        <td colspan="5" class="px-4 py-8 text-sm font-medium text-gray-500 text-center">
          Aucun noshow trouvé.
        </td>
      </tr>
    </tbody>
  <% end %>
</tbody>
