<!DOCTYPE html>
<html>
  <head>
    <title>TableWise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render "shared/navbar" if current_page?(root_path)%>
    <div class="container max-w-full" style="min-height: 100vh;">
      <%= yield %>
    </div>
  </body>
  <%= render "shared/footer" %>
</html>
